<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
</head>
<body>
	<div class="modal">
		<form class="modal-content" id="newroom">
			<div class="modal-row">
				<label for="roomname">Room Name: </label>
				<input type="text" id="roomname" name="roomname">
			</div>

			<div class="modal-row">
				<label for="isPrivate">Private Room: </label>
				<input type="checkbox" id="isPrivate" name="isPrivate">
			</div>

			<div class="modal-row">
				<input type="submit" value="create">
			</div>
		</form>
	</div>
	
	<div class="chat-grid">
		<div class="sidebar">
			<div class="navigation">
				<a href="#" id="rooms">Rooms</a>
				<a href="#" id="people">People</a>
			</div>
			<div class="side-content" id="sidebar-list">
			</div>
		</div>
		<div class="chat">
			<div class="chat-window" id="feedback">
			</div>
			<textarea class="input" id="message" onkeypress="messageKeyPress(event, this)"></textarea>
		</div>
	</div>

	<script type="text/javascript" src="./chat.js"></script>
</body>
</html>