body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Chat styling */
.chat-grid {
    display: grid;
    grid-template-columns: 1fr 3fr; 
}

.chat-window {
    height: 90vh;
}

.input {
    display: block;
    height: 10vh;
    width: 100%;
}

/* Sidebar styling */
.sidebar {
    display: grid;
    grid-template-rows: 1fr 10fr;
    border-right: 1px solid black;
}

.navigation {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

.detail {
    padding: 10px;
    border-bottom: 1px solid black;
}