body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Chat styling */
.chat-grid {
    display: grid;
    grid-template-columns: 1fr 5fr; 
}

.chat-window {
    height: 90vh;
    padding: 15px 20px;
    overflow-y: auto;
}

.message {
    padding: 10px;
    border-radius: 10px;
}

.content {
    width: 50%;
}

.username {
    padding: 5px;
}

.my-message {
    display: flex;
    justify-content: flex-end;
}

.my-message > .content > .message {
    background: #ddd;
}

.other-message > .content > .message {
    background: #eef;
}

.input {
    display: block;
    height: 10vh;
    width: 100%;
}

/* Sidebar styling */
.sidebar {
    display: grid;
    grid-template-rows: 1fr 10fr;
    border-right: 1px solid black;
    height: 100vh;
    overflow: hidden;
}

.navigation {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

.side-content {
    overflow-y: auto;
}

ul > li {
    list-style: none;
    position: relative;
    padding-left: 50px;
    line-height: 2;
    font-size: 24px;
}

ul > li > span:before {
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    left: 0;
}

.li-person:before {
    content: "\f007";
}

.li-conversation:before {
    content: "\f086";
}

.li-add:before {
    content: "\f055";
}

.kick:before {
    font-family: FontAwesome;
    content: "\f00d";
}

.detail {
    padding: 10px;
    border-bottom: 1px solid black;
}

.detail > a {
    text-decoration: none;
    color: black;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.modal-content {
    position: relative;
    width: 800px;
    height: 450px;
    margin-left: -400px;
    margin-top: -225px;
    top: 50%;
    left: 50%;
    padding: 100px;

    background: white;
}

.modal-row {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.modal-row > label {
    width: 50%;
    font-size: 1.5em;
}